.btn_terminar {
  position: fixed; /* Fix the button to the viewport */
  bottom: 20px; /* Distance from the bottom of the screen */
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding for size */
  border-radius: 40px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  z-index: 1000; /* Ensure it stays above other elements */
}

.container_box {
  padding: 10px 30px;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 8px;
}

.auditoria_box {
  display: flex;
}

.auditoria_text {
  font-family: Helvetica;
  white-space: nowrap;
  overflow: hidden;
}

.checkbox {
  width: 20px; /* Optional: Set a custom width */
  height: 20px; /* Optional: Set a custom height */
  transform: scale(1);
  margin-left: auto;
}
